/*=======================================
 Common CSS
========================================*/
:root{
  --pink: #EA1A70;

}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;

  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald", sans-serif;
    line-height: 1.5em;
  }
  img {
    max-width: 100%;
  }
  /* a.redmore {
    background:  var(--pink);
    color: #fff;
    font-size: 15px;
    text-decoration: navajowhite;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.5s;


    
} */
  /*=======================================
   Header Area Style
  ========================================*/
  #header_area {
    padding: 0px 0px 15px;
  }
  
  #header_area .col-md-9 ul {
    font-family: "Oswald", sans-serif;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }
  #header_area .col-md-9 ul li {
    display: inline-block;
    position: relative;
  }
  #header_area .col-md-9 ul li a span{
    display: block;
    position: relative;
    font-size: 10px;
  }
  #header_area .col-md-9 ul li a {
    color: #262626;
    padding: 20px 10px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
  #header_area .col-md-9 ul li a:hover {
    background: var(--pink);
    color: #fff;
  }
  
  /*Dropdown Menu*/
  #header_area .col-md-9 ul li ul {
    background: #262626 none repeat scroll 0 0;
    left: -99999px;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 62px;
    width: 200px;
    z-index: 99999;
  }
  #header_area .col-md-9 ul li:hover ul {
    left: 0px;
  }
  #header_area .col-md-9 ul li ul li {
    display: block;
  }
  #header_area .col-md-9 ul li ul li a {
    color: #fff;
    padding: 8px 10px;
  }
  #header_area .col-md-9 ul li ul li a:hover {
    background: #ddd;
    color: #262626;
  }
  #header_area .col-md-9 ul li:hover a {
    background:  var(--pink);
    color: #fff;
  }
  #header_area .col-md-9 ul li:hover ul li a {
    background: none;
    color: #fff;
  }
  
  /*Sub Dropdown Menu*/
  #header_area .col-md-9 ul li ul ul {
    left: -99999px;
    top: 0;
    position: absolute;
  }
  #header_area .col-md-9 ul li:hover ul li ul {
    left: -999999px;
  }
  #header_area .col-md-9 ul li ul li:hover ul {
    left: 200px;
  }
  #header_area .col-md-9 ul li ul li:hover a {
    background:  var(--pink);
    color: #fff;
  }
  #header_area .col-md-9 ul ul li:hover ul li a {
    background: #262626;
    color: #fff;
  }
  #header_area .col-md-9 ul ul li ul li a:hover {
    background:  var(--pink);
    color: #fff;
  }

  /*
   MENU POSITION 
   */
   #header_area.left_menu .col-md-3{
    order: 2;
   }
   #header_area.left_menu .col-md-9{
    order: 1;
   }
   #header_area.left_menu .col-md-9 ul{
    text-align: left;
   }
   #header_area.center_menu  .col-md-3{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
   }
   #header_area.center_menu  .col-md-9{
    width: 100%;
   }
   #header_area.center_menu  .col-md-9 ul{
    text-align: center;
   }
   #header_area.center_menu  .col-md-9 ul ul{
    text-align: left;
   }

/* Index page style */
#body_area{
  padding: 45px;
}
#body_area .blog_area{
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 0px 0px 10px #ddd;
}
#body_area .post_thumb{
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}
#body_area .post_thumb img{
  transition: 0.5s;
  width: 100%;
  display: block;
}
#body_area .post_thumb:hover img{
  transform: scale(1.1);
}
#body_area .post_details{
  width: 100%;
}
#body_area .post_details h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
#body_area .post_details h2 a{
  color: #262626;
  text-decoration: none;
}
#body_area .post_details h2 a:hover{
  color: #ff8383;
  text-decoration: none;
  transition: .5s;
}

/* Page navigation */
p.pages {
  background:  var(--pink);
  color: #fff;
  padding: 5px 10px;
}

span {
  display: inline-block;
  padding: 0 5px;
}

a.page-numbers {
  background-color:  var(--pink);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
}
a.page_numbers:hover {
  background: #000;
  color: #fff;
  transition: .5s;
}
#body_area .post_details p a {
  color: #ddd;
  margin-left: 6px;
  font-weight: 600;
  background:  var(--pink);
  padding: 5px;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 2px;
}
#body_area .post_details p a:hover {
  color:  var(--pink);
  background: #ddd;
  transition: .5s;
}
/* Sidebar style */
#body_area .child_sidebar{
  margin-bottom: 15px;
}
#body_area .child_sidebar h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1em;
}
.child_sidebar h2{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
  line-height: 1em;
  border-left: 5px solid  var(--pink);
  padding-left: 10px;
}
#body_area .child_sidebar input[type="search"]{
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}
#body_area .child_sidebar button[type="submit"]{
  background:  var(--pink);
  border: 1px solid  var(--pink);
  font-weight: bold;
  color: #fff;
  padding: 10px;
}
#body_area .child_sidebar button[type="submit"]:hover{
  border: 1px solid  var(--pink);
  background: #fff;
  transition: .5s;
  color:  var(--pink);
}
#body_area .child_sidebar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
#body_area .child_sidebar ul li{
  display: block;
  margin-bottom: 5px;
}
#body_area .child_sidebar ul li a{
  display: inline-block;
  color: #000;
  text-decoration: none;
}
#body_area .child_sidebar ul li a:hover{
  color:  var(--pink);
}
#body_area .child_sidebar a.tag-cloud-link {
  background: #504f4f;
  text-decoration: none;
  font-size: 14px !important;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 5px;
}
#body_area .child_sidebar a.tag-cloud-link:hover{
  background:  var(--pink);
  transition: .5s;
}
/*  comment area style */
#comment_area h3{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
}
#comment-1{
  display: none;
}
.comment-form-comment label{
  display: none;
}
.submit{
  background:  var(--pink);
  font-weight: 600;
  color: #fff;
  border: 1px solid#ddd;
}
.submit:hover{
  color:  var(--pink);
  background: #fff;
  transition: .5s;
}
/* archive style */
#archive_title{
  background:  var(--pink);
  padding: 10px;
}
#archive_title h1{
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 600;
}
/* search title */
#search_title .title{
  background:  var(--pink);
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
/* 404 page*/
.error_page{
  padding: 20px;
  text-align: center;
}
.error_page h1{
  color: #ff8383;
  font-size: 6rem;
  line-height: 1em;
}
.error_page h3{
  margin-bottom: 10px;
}
.error_search input[type="text"]{
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 2px;
}
.error_search input[type="submit"]{
  background:  var(--pink);
  border: 1px solid  var(--pink);
  padding: 10px;
  margin: 0;
  color: #fff;
  transition: 0.5s;
  border-radius: 2px;
}
.error_page a{
  text-decoration: none;
  background-color: var(--pink);
  font-size: 20px;
  color: #fff;
  padding: 12px;
  display: inline-block;
  margin: 20px;
  font-weight: 600;
  border: 1px solid  var(--pink);
}
.error_page a:hover{
  background-color: #ffffff;
  color: #ff006a;
  font-weight: 600;
  transition: 1s;
}
/* Footer area style*/
/* Copyright  */

#footer_area{
  background-color: #262626;
  padding: 20px 0;
  color: #fff;
}
#footer_area p{
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#footer_area p a{
  color: #79E1E3;
}
#footer_area p a:hover{
  text-decoration: underline;
}

/* theme service area */
#service_area{
  padding: 45px 0;
}
#service_area .child_service{
  background: #ddd;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  border-radius: 15px;
}
.button{
  background:  var(--pink);
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}
.child_sidebar .col-md-4{
  width: 100%;
  margin-bottom: 20px;
}
